/* Estilo Geral */
/* body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
} */

.form-board {
    background-color: #FAFBFF;
    margin: 20px 30px;
    border-radius: 20px;
    padding: 40px 35px;
    -webkit-box-shadow: 10px 10px 46px -14px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 46px -14px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 46px -14px rgba(0, 0, 0, 0.75);
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    gap: 30px;
}

form {
    padding: 20px;
    border-radius: 8px;
    /* width: 100%; */
    /* max-width: 400px; */
    background-color: #fff;
    border-radius: 20px;
    -webkit-box-shadow: 10px 10px 46px -14px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 46px -14px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 46px -14px rgba(0, 0, 0, 0.75);
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #555;
    font-size: 20px;
}

input[type="text"],
input[type="datetime-local"],
select {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
    color: #333;
}

input[type="submit"] {
    width: 100%;
    background: #007BFF;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s ease;
}

input[type="submit"]:hover {
    background: #0056b3;
}

input[type="hidden"] {
    display: none;
}

.hide {
    display: none;
}

.forms-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-left: 30px;
    margin-top: 50px;
}
.add-outros h2{
    font-size: 20px;
}

.add-btn {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 10px;
}

.add-btn:hover h2{
    color: #696969;
}
.add-btn:hover img{
    transform: scale(1.1);
}

.add-card {
    margin-top: 30px;
}