:root {
    font-size: 62.5%;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* @font-face {
    font-family: "Montserrat", sans-serif;
    src: url(/assets/fonts/Montserrat/Montserrat-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: "Montserrat", sans-serif;
    src: url(/assets/fonts/Montserrat/Montserrat-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: "Montserrat", sans-serif;
    src: url(/assets/fonts/Montserrat/Montserrat-Medium.ttf);
    font-weight: 500;
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--text-color);
    font-family: "Montserrat", sans-serif;
    color: #1C122B;
}
html, body {
    min-height: 100vh;
}

.container {
    display: grid;
    grid-template-columns: 15% 85%;
}

.content {
    background-color: #DEDEE8;
    margin: 10px;
    margin-left: 0;
    border-radius: 20px;
}

.circle-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.circle-btn img {
    display: block;
    width: 20px;
}

.circle-btn img:hover {
    transform: scale(1.1);
    transition: 0.2s;
}



